# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Django stuff
*.log
db.sqlite3
media/
staticfiles/
*.pot
*.pyc

# VSCode and PyCharm
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
